body {
    color: black;
    background-color: white;
    margin: 3em auto 3em auto;
    text-align: center;
    font-family: "Nimbus Sans", "Nimbus Sans L", "Helvetica", Inter;
    font-size: 20px;
}

#title {
    padding: 0em 0.5em 0em 0.5em;
}

#main-div {
    max-width: 25em;
    min-height: 85vh;
    margin: auto auto;
    padding: 0em 0.2em;
}

table {
    border-collapse: collapse;
}

tr {
    vertical-align: bottom;
    border-color: #3E3E42;
}

#main-toggle-div {
    margin-bottom: 0.5em;
    cursor: pointer;
    user-select: none;
}

#main-toggle-div, #timer-div {
    padding-top: 0.5em;
    padding: 1.25em 1.50em 1.00em 1.50em;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
}

#timer-div {
    padding: 1.25em 1.50em 1.25em 1.50em;
}

#timer-div2 {
    border-bottom: 1px solid #E3E3E3;
    cursor: pointer;
    user-select: none;
}

#buttons-div {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 14px; */
    /* border: 1px solid #BCCCDC; */
    font-size: 22px;
}

#label-box {
    width: 100%;
    font-size: 20px;
}

#main-output-checkbox, #timer-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

#info-div {
    padding: 1.75em 1em 1em 1em;
    font-size: 16px;
    td {
        padding: .20em;
    }
}

a, a:visited {
    color: #00E;
}

h1 {
    font-size: 36px;
}

#save-button {
    padding: 0.25em 0 0 0;
    text-align: right;
}

#save-timer-button {
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    margin-top: 0.35em;
    font-size: 16px;
    color: black;
    background-color: white;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #202020;
    }
    a, a:visited {
        color: #56C8FF;
    }
    #buttons-div {
        /* background-color: #303033; */
        border: none;
    }
    #main-toggle-div, #timer-div {
        background-color: #303033;
        border: none;
    }

    #timer-div2 {
        border-bottom-color: #3E3E42;
    }

    /*
    #main-output-checkbox, #timer-checkbox {
        appearance: none;
        background-color: #E2E2E2;
        border-radius: 2px;
        margin-bottom: -1px;
        -webkit-margin-after: 0px;
    }
    */

    #main-output-checkbox:checked, #timer-checkbox:checked {
        /* appearance: revert; */
        accent-color: #56C8FF;
    }
}
